/* ========================
   HEADER 
==========================*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  padding: 20px 10%;

}

.logo > strong{
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 1rem;
  padding-right: 24px;
}

.nav-links > p > a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-links > button {
  background-color: #fff;
  color: #000;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .container {
    padding: 15px 2%;
  }

  .nav-links > p > a {
    color: black;
    cursor: pointer;
  }
}

